In [2]:
import this

* 파이썬 이스터에그

In [6]:
False

False

In [7]:
True == 1

True

In [8]:
False == 1

False

In [9]:
True == "1"

False

* True는 1을 False는 0을 나타낸다

In [11]:
True or False

True

In [25]:
True and False

False

* or 연산은 둘 중 하나가 참이면 참이고 and 연산은 둘 다 참이여야 참이다

In [12]:
tile = "Today is Good DAY"

In [13]:
tile

'Today is Good DAY'

In [15]:
tile.lower()

'today is good day'

In [16]:
tile.upper()

'TODAY IS GOOD DAY'

* .lower은 문자열을 소문자로 .upper은 문자열을 대문자로 만들어 준다.

In [1]:
lang  = []
lang

[]

In [9]:
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

* .append는 리스트에 변수를 추가할 수 있다.

In [11]:
lang[0]
lang[-1]

'c'

In [12]:
for i in lang:
    print(i)

python
java
c

In [13]:
for i in lang:
    if i == "python":
        print("파이썬")
    else:
        print("기타")

파이썬
기타
기타

* lang 리스트 안에서 파이썬과 기타 항목을 구분해주는 반복문

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(1,10):
    if i % 2 == 0:
        print("짝수")
    else:
        print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [21]:
for i,val in enumerate(lang):
    print(i,val)

0 python
1 java
2 c

In [4]:
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [5]:
address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [6]:
len(address)

33

In [8]:
address_list = address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [9]:
len(address_list)

8

In [11]:
address[:2]

'경기'

In [12]:
address.startswith("경기")

True

In [13]:
"경기" in address

True

In [17]:
gu = address_list[2]
gu

'분당구'

In [20]:
street = address_list[3]
street

'불정로'

In [21]:
address_list[-1]

'16층'

In [23]:
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [24]:
"분당구" in address_list

True